.sand {
  display: flex;
  align-items: center;
  background-color: #F6F1EE;
  box-sizing: border-box;
  padding: 50px 0;
  height: 600px;
  justify-content: space-around;
}

.sand__img {
  max-width: 400px;
  max-height: 500px;
  box-shadow: 4px 4px 15px 0 rgba(0,0,0,.25);
}

.sand__description {
  width: 40%;
  line-height: 34px;
  font-size: 24px;
  text-align: justify;
}