.mushroom {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 730px;
  align-items: flex-start;
  overflow: hidden;
  background-color: #ece5df;
  box-shadow: inset 0px 0px 20px -5px rgb(0 0 0 / 50%);
}